Cython==0.23.4
datalad==0.9.1
duecredit==0.6.1
funcsigs==0.4
functools32==3.2.3.post2
future==0.15.2
joblib==0.9.4
networkx==1.9
nibabel==2.1.0
nilearn==0.2.5
nipy==0.4.1
nipype==0.11.0
nitime==0.6
numpy==1.13.1
pprocess==0.5
pymvpa2==2.6.0
pytest==2.7.2
scikit-image==0.11.3
scikit-learn==0.17.1
scipy==0.19.1
seaborn==0.8
six==1.10.0
traitlets==4.3.1
traits==4.4.0
traitsui==4.4.0
